<div class="container">
  <div class="col-6">
    <img src="images/people.png" alt="">
  </div>
  <div class="col-6">
    <h2>Welcome!</h2>
    <p> Please check out all the cool new courses by our innovative and creative chefs.</p>
    <p>The program is explore below</p>
    <h4>Courses page</h4>
    <p> Computer Science</p>
      
      <p> Software Engineering</p>
      
      <p> Mathematic</p>
      
      <p> Mining Engineering</p>
      
      <p> Geo-Physic</p>
      
      <p> Nursing</p>
      
      <p> Physic</p>
      
      <p> Chemestry</p>
      
      <p> Biology</p>
    <p> If you are interested by the program, click the link <a href="/subscribers/new">contact us to join! </a> by subscribing for more informations</p>
    
  </div>
</div>
